html,body{
    height: 100%;
    width: 100%;
}
.p1{
    position: absolute;
    top: 22%;
    left: 2%;
    font-size: 180px;
    color: rgb(202, 166, 192);
    font-style: italic;
    font-weight: bold;
}
.p2{
    position: absolute;
    top: 40%;
    left: 2%;
    font-size: 180px;
    color: rgb(155, 107, 154);
    font-style: italic;
    font-weight: bold;
}
.redrose{
    position: fixed;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.redrose img{
    max-width: 100%;
    max-height: 300px; 
    display: block; 
    width: auto; 
    height: auto
}
.REDROSES{
    position: absolute;
    top: 17%;
    left: 15%;
    font-size: 15px;
    text-align: center;
    color: rgb(48, 48, 48);
}
.REDROSES:hover +.redrose {
    display: block;
}
.STREETLIGHT{
    position: absolute;
    top: 17%;
    left: 47%;
    text-align: center;
    color: rgb(48, 48, 48);
}
.sl{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
}
.sl img{
    max-width: 100%;
    max-height: 300px; 
    display: block; 
    width: auto; 
    height: auto
}
.STREETLIGHT:hover +.sl{
    display:block;
}
.SNACK{
    position: absolute;
    top: 17%;
    left: 76%;
    text-align: center;
    color: rgb(48, 48, 48)
}
.lns{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
}
.lns img{
    max-width: 100%;
    max-height: 300px; 
    display: block; 
    width: auto; 
    height: auto
}
.SNACK:hover +.lns{
    display:block;
}
.DRINK{
    position: absolute;
    top: 45%;
    left: 14%;
    text-align: center;
    color: rgb(48, 48, 48)
}
.ume{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
}
.ume img{
    max-width: 100%;
    max-height: 300px; 
    display: block; 
    width: auto; 
    height: auto
}
.DRINK:hover +.ume{
    display:block;
}
.BEAR{
    position: absolute;
    top: 45%;
    left: 45%;
    text-align: center;
    color: rgb(48, 48, 48)
}
.br{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    z-index: -1;
}
.br img{
    max-width: 100%;
    max-height: 300px; 
    display: block; 
    width: auto; 
    height: auto;
}
.BEAR:hover +.br{
    display:block;
}

.CAMERA{
    position: absolute;
    top: 45%;
    left: 79%;
    text-align: center;
    color: rgb(48, 48, 48)
}
.ca{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    z-index: -1;
}
.ca img{
    max-width: 100%;
    max-height: 300px; 
    display: block; 
    width: auto; 
    height: auto;
}
.CAMERA:hover +.ca{
    display:block;
}
.PERFUME{
    position: absolute;
    top: 75%;
    left: 10%;
    text-align: center;
    color: rgb(48, 48, 48)
}
.pf{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    z-index: -1;
}
.pf img{
    max-width: 100%;
    max-height: 300px; 
    display: block; 
    width: auto; 
    height: auto;
}
.PERFUME:hover +.pf{
    display:block;
}
.LEMON{
    position: absolute;
    top: 75%;
    left: 47%;
    text-align: center;
    color: rgb(48, 48, 48)
}
.lm{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    z-index: -1;
}
.lm img{
    max-width: 100%;
    max-height: 300px; 
    display: block; 
    width: auto; 
    height: auto;
}
.LEMON:hover +.lm{
    display:block;
}
.RING{
    position: absolute;
    top: 75%;
    left: 79%;
    text-align: center;
    color: rgb(48, 48, 48)
}
.silverring{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    z-index: -1;
}
.silverring img{
    max-width: 100%;
    max-height: 300px; 
    display: block; 
    width: auto; 
    height: auto;
}
.RING:hover +.silverring{
    display:block;
}